*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}

body{
    width: 100%;
    height: 100vh;
    background: url(./img/bg.jpg) no-repeat center/cover;
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;
}

.title{
    position: absolute;
    left: 50%;
    top: 9%;
    transform: translate(-50%);
    color: teal;
    font-size: 30px;
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
    height: 50px;
}

.whiteContainer{
    background: wheat;
    width: 80%;
    height: 50%;
    overflow-wrap: break-word;
    overflow: auto;
    padding: 30px;
    z-index: 99;
    display: flex;
    border-radius: 10px;
    flex-direction: column;
}

#ecrituree{
    width: 100%;
    height: 49%;
    padding: 30px;
    font-size: 25px;
    border: 1px solid black;
}

#result{
    width: 100%;
    height: 49%;
    padding: 30px;
    font-size: 25px;
    margin-top: 10px;
    border: 1px solid black;
    background: white;
}

.whiteContainer h3{
    font-size: 22px;
    z-index: 999 !important;
}

.copy{
    position: absolute;
    width: 13%;
    height: 7%;
    left: 60%;
    bottom: 15%;
    transform: translate(-50%);
    background: black;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 19px;
    overflow: hidden;
}

.copy::after{
    content: '';
    position: absolute;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    background: teal;
    border-radius: 15px;
    transition: 0.7s;
    z-index: -1;
}

.copy:hover::after{
    top: 0;
}

.coller{
    position: absolute;
    width: 13%;
    height: 7%;
    left: 40%;
    bottom: 15%;
    transform: translate(-50%);
    background: black;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 19px;
    overflow: hidden;
}

.coller::after{
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 100%;
    background: teal;
    border-radius: 15px;
    transition: 0.7s;
    z-index: -1;
}

.coller:hover::after{
    top: 0;
}

.dechif{
    position: absolute;
    width: 13%;
    height: 7%;
    left: 50%;
    bottom: 5%;
    transform: translate(-50%);
    background: black;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 19px;
    overflow: hidden;
}

.dechif::after{
    content: '';
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: teal;
    border-radius: 15px;
    transition: 0.7s;
    z-index: -1;
}

.dechif:hover::after{
    left: 0;
}

.discord{
    position: absolute;
    right: 0;
    top: 0;
    border-radius: 0 0 0 10px;
    width: 80px;
    height: 80px;
    background: url(./img/discord.png) no-repeat center/cover;
}

@media screen and (max-width:1150px) {
    .coller{
        width: 150px;
    }
    .copy{
        width: 150px;
    }
    .dechif{
        width: 150px;
    }
}

@media screen and (max-width:820px) {
    .coller{
        width: 150px;
        left: 30%;
    }
    .copy{
        width: 150px;
        left: 70%;
    }
    .dechif{
        width: 150px;
    }
    .whiteContainer{
        width: 90%;
        margin-top: -30px;
    }
}

@media screen and (max-width:650px) {
    .whiteContainer{
        position: relative;
        left: 50%;
        transform: translate(-50%);
        width: 99%;
    }
}


@media screen and (max-width:440px) {
    body{
        display: none;
    }
}

@media screen and (max-height:499px) {
    body{
        display: none;
    }
}